@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* this is the width of the menu*/
/*Responsive values*/
@font-face {
  font-family: 'steelfish';
  src: url("../fonts/steelfish/steelfishRG.ttf") format("truetype"), url("../fonts/steelfish/steelfishRG.woff") format("woff"), url("../fonts/steelfish/steelfishRG.otf"), url("../fonts/steelfish/steelfishRG.eot?#iefix") format("embedded-opentype"), url("../fonts/steelfish/steelfishRG.svg") format("svg");
}
/* line 29, ../sass/screen.scss */
.transicion, #home #mostro-center #logo-mostro-media-center, #home #iconos-home {
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

/*--------------------Desktop--------------*/
/* line 97, ../sass/screen.scss */
body {
  font-family: 'steelfish';
  background-color: #363636;
  color: #fff !important;
}
@media screen and (max-width: 768px) {
  /* line 97, ../sass/screen.scss */
  body {
    padding-left: 0px;
  }
}

/* line 109, ../sass/screen.scss */
nav {
  background-color: #E8540D;
}

/* line 113, ../sass/screen.scss */
.side-nav {
  width: 100px !important;
}
/* line 115, ../sass/screen.scss */
.side-nav #logo-mostro-media {
  margin-top: 50px;
}
/* line 118, ../sass/screen.scss */
.side-nav h1 {
  font-size: 1.8em;
}
/* line 121, ../sass/screen.scss */
.side-nav li {
  margin-top: 50px;
}
/* line 124, ../sass/screen.scss */
.side-nav li a i {
  font-size: 40px;
}

/* line 131, ../sass/screen.scss */
.color-menu {
  background-color: #232323;
}
/* line 133, ../sass/screen.scss */
.color-menu li {
  color: #fff;
}
/* line 135, ../sass/screen.scss */
.color-menu li a {
  color: #E8540D;
}
/* line 137, ../sass/screen.scss */
.color-menu li a i {
  color: #fff !important;
}
/* line 141, ../sass/screen.scss */
.color-menu li:hover {
  color: red !important;
}

/* line 147, ../sass/screen.scss */
#particles-home {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

/* line 154, ../sass/screen.scss */
#home {
  height: 100vh;
  position: relative;
}
/* line 157, ../sass/screen.scss */
#home #mostro-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
  z-index: 12;
}
/* line 164, ../sass/screen.scss */
#home #mostro-center #logo-mostro-media-center {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1025px) and (max-width: 1223px) {
  /* line 164, ../sass/screen.scss */
  #home #mostro-center #logo-mostro-media-center {
    width: 300px;
  }
}
@media screen and (min-width: 1224px) and (max-width: 1823px) {
  /* line 164, ../sass/screen.scss */
  #home #mostro-center #logo-mostro-media-center {
    width: 400px;
  }
}
/* line 177, ../sass/screen.scss */
#home #mostro-center h1 {
  font-size: 3em;
}
/* line 181, ../sass/screen.scss */
#home ul {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}
/* line 187, ../sass/screen.scss */
#home #iconos-home {
  position: relative;
  /* 1 */
  width: 40em;
  height: 40em;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  /* 2 */
  box-sizing: content-box;
  /* 3 */
  margin: 5em auto 0;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
/* line 65, ../sass/screen.scss */
#home #iconos-home > * {
  /* 4 */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5em;
  height: 5em;
  margin: -2.5em;
}
/* line 80, ../sass/screen.scss */
#home #iconos-home > :nth-of-type(1) {
  transform: rotate(0deg) translate(20em) rotate(0deg);
}
/* line 80, ../sass/screen.scss */
#home #iconos-home > :nth-of-type(2) {
  transform: rotate(72deg) translate(20em) rotate(-72deg);
}
/* line 80, ../sass/screen.scss */
#home #iconos-home > :nth-of-type(3) {
  transform: rotate(144deg) translate(20em) rotate(-144deg);
}
/* line 80, ../sass/screen.scss */
#home #iconos-home > :nth-of-type(4) {
  transform: rotate(216deg) translate(20em) rotate(-216deg);
}
/* line 80, ../sass/screen.scss */
#home #iconos-home > :nth-of-type(5) {
  transform: rotate(288deg) translate(20em) rotate(-288deg);
}
/* line 192, ../sass/screen.scss */
#home #iconos-home li {
  display: block;
  border-radius: 50%;
}
/* line 195, ../sass/screen.scss */
#home #iconos-home li img {
  margin-left: 15px;
}
/* line 198, ../sass/screen.scss */
#home #iconos-home li p {
  text-align: center;
  font-size: 1.5em;
}
/* line 205, ../sass/screen.scss */
#home button {
  font-size: 1.4em;
}

/* line 210, ../sass/screen.scss */
#work {
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 200px;
}
/* line 213, ../sass/screen.scss */
#work .row {
  height: 100vh;
  /*ALTO DE CADA PRESENTACIÓN*/
}
/* line 216, ../sass/screen.scss */
#work #serv-section {
  margin-top: 200px;
}
/* line 219, ../sass/screen.scss */
#work img.center {
  /*LOGO*/
  width: 330px;
  display: block;
  margin: 0 auto;
}
/* line 224, ../sass/screen.scss */
#work .item-servicio img {
  width: 150px;
  display: block;
  margin: 0 auto;
}
/* line 229, ../sass/screen.scss */
#work h1 {
  font-size: 45px;
}
/* line 232, ../sass/screen.scss */
#work h3 {
  font-size: 25px;
}

/* line 237, ../sass/screen.scss */
.fullscreen-bg {
  position: relative;
  right: 0;
  left: 0;
  height: 800px;
  width: 100%;
}

/* line 245, ../sass/screen.scss */
.fullscreen-bg__video {
  position: absolute;
  width: 100%;
  height: 140%;
}

@media (min-aspect-ratio: 16 / 9) {
  /* line 252, ../sass/screen.scss */
  .fullscreen-bg__video, .fullscreen-bg__video2 {
    height: 300%;
    top: -91%;
  }
}
/* line 259, ../sass/screen.scss */
#team {
  margin-top: 500px;
  height: 100vh;
}
/* line 262, ../sass/screen.scss */
#team .carousel {
  height: 800px;
}
/* line 264, ../sass/screen.scss */
#team .carousel .carousel-item {
  height: 400px;
  width: 400px;
}

/* line 275, ../sass/screen.scss */
#contact {
  height: 700px;
}
/* line 277, ../sass/screen.scss */
#contact #content-contact, #contact #form-contact {
  margin: 20px 0 0 5%;
  background-color: #333;
}
/* line 280, ../sass/screen.scss */
#contact #content-contact .valign-wrapper, #contact #form-contact .valign-wrapper {
  height: 400px;
}
/* line 282, ../sass/screen.scss */
#contact #content-contact .valign-wrapper .valign, #contact #form-contact .valign-wrapper .valign {
  text-align: center;
  width: 100%;
}
/* line 288, ../sass/screen.scss */
#contact form {
  margin-left: 10%;
  width: 80%;
}

/* line 294, ../sass/screen.scss */
.progress {
  background-color: #fff !important;
}

/* line 298, ../sass/screen.scss */
.toast {
  font-size: 1.8rem;
  font-weight: normal;
}

@media screen and (max-width: 1024px) {
  /* line 306, ../sass/screen.scss */
  nav .brand-logo {
    margin-top: 12px !important;
  }

  /* line 313, ../sass/screen.scss */
  .nav-wrapper ul li a {
    padding: 0 32px !important;
  }
}
@media screen and (min-width: 1824px) {
  /* line 323, ../sass/screen.scss */
  #home #iconos-home {
    position: relative;
    /* 1 */
    width: 50em;
    height: 50em;
    padding: 0;
    border-radius: 50%;
    list-style: none;
    /* 2 */
    box-sizing: content-box;
    /* 3 */
  }
  /* line 65, ../sass/screen.scss */
  #home #iconos-home > * {
    /* 4 */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5em;
    height: 5em;
    margin: -2.5em;
  }
  /* line 80, ../sass/screen.scss */
  #home #iconos-home > :nth-of-type(1) {
    transform: rotate(0deg) translate(25em) rotate(0deg);
  }
  /* line 80, ../sass/screen.scss */
  #home #iconos-home > :nth-of-type(2) {
    transform: rotate(72deg) translate(25em) rotate(-72deg);
  }
  /* line 80, ../sass/screen.scss */
  #home #iconos-home > :nth-of-type(3) {
    transform: rotate(144deg) translate(25em) rotate(-144deg);
  }
  /* line 80, ../sass/screen.scss */
  #home #iconos-home > :nth-of-type(4) {
    transform: rotate(216deg) translate(25em) rotate(-216deg);
  }
  /* line 80, ../sass/screen.scss */
  #home #iconos-home > :nth-of-type(5) {
    transform: rotate(288deg) translate(25em) rotate(-288deg);
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  /* line 342, ../sass/screen.scss */
  nav {
    position: fixed;
    top: 0;
    z-index: 100;
  }

  /* line 347, ../sass/screen.scss */
  .fullscreen-bg__video {
    width: auto !important;
    height: 700px;
    margin-left: -350px;
  }

  /* line 352, ../sass/screen.scss */
  #work {
    height: 1300px;
  }
}
@media screen and (min-width: 401px) and (max-width: 800px) {
  /* line 358, ../sass/screen.scss */
  nav {
    position: fixed;
    top: 0;
    z-index: 100;
  }

  /* line 363, ../sass/screen.scss */
  #main {
    overflow-y: hidden;
  }

  /* line 367, ../sass/screen.scss */
  #home #logo-mostro-media-center {
    width: 100% !important;
  }

  /* line 371, ../sass/screen.scss */
  .fullscreen-bg__video {
    width: auto !important;
    height: 700px;
    margin-left: -350px;
  }

  /* line 376, ../sass/screen.scss */
  #work {
    height: 1300px;
  }
  /* line 378, ../sass/screen.scss */
  #work .row {
    height: auto;
  }

  /* line 382, ../sass/screen.scss */
  #team {
    margin-top: 100px;
  }
}
@media screen and (max-width: 400px) {
  /* line 388, ../sass/screen.scss */
  nav {
    position: fixed;
    top: 0;
    z-index: 100;
  }

  /* line 393, ../sass/screen.scss */
  #main {
    overflow-y: hidden;
  }

  /* line 397, ../sass/screen.scss */
  #home #logo-mostro-media-center {
    width: 100% !important;
  }

  /* line 401, ../sass/screen.scss */
  #work {
    height: 1300px;
  }

  /* line 404, ../sass/screen.scss */
  .fullscreen-bg {
    margin: 200px 0;
    overflow-x: hidden;
    height: 500px;
  }
  /* line 409, ../sass/screen.scss */
  .fullscreen-bg .fullscreen-bg__video {
    width: auto !important;
    margin-left: -300px;
    height: 500px;
  }

  /* line 415, ../sass/screen.scss */
  #team {
    height: auto;
    margin: 200px 0;
  }
  /* line 418, ../sass/screen.scss */
  #team .carousel {
    position: relative;
  }
  /* line 420, ../sass/screen.scss */
  #team .carousel .carousel-item {
    width: 100%;
    height: auto;
  }
}
