@charset "UTF-8";
/* line 5, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* this is the width of the menu*/
/*Responsive values*/
@font-face {
  font-family: 'steelfish';
  src: url("../fonts/steelfish/steelfishRG.ttf") format("truetype"), url("../fonts/steelfish/steelfishRG.woff") format("woff"), url("../fonts/steelfish/steelfishRG.otf"), url("../fonts/steelfish/steelfishRG.eot?#iefix") format("embedded-opentype"), url("../fonts/steelfish/steelfishRG.svg") format("svg");
}
/* line 24, ../sass/screen.scss */
.transicion, .table-of-contents a, #home #mostro-center #logo-mostro-media-center, #home #iconos-home {
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

/*--------------------Desktop--------------*/
/* line 90, ../sass/screen.scss */
body {
  font-family: 'steelfish';
  background-color: #363636;
  color: #fff !important;
}
@media screen and (max-width: 768px) {
  /* line 90, ../sass/screen.scss */
  body {
    padding-left: 0px;
  }
}

/* line 101, ../sass/screen.scss */
h1 {
  font-size: 6em;
}

/* line 105, ../sass/screen.scss */
nav {
  background-color: #E8540D;
}

/* line 109, ../sass/screen.scss */
.side-nav {
  width: 100px !important;
}
/* line 111, ../sass/screen.scss */
.side-nav #logo-mostro-media {
  margin-top: 50px;
}
/* line 114, ../sass/screen.scss */
.side-nav .logo-text {
  cursor: pointer;
}
/* line 116, ../sass/screen.scss */
.side-nav .logo-text h1 {
  font-size: 1.8em;
}
/* line 120, ../sass/screen.scss */
.side-nav li {
  margin-top: 50px;
}
/* line 123, ../sass/screen.scss */
.side-nav li a i {
  font-size: 40px;
}

/* line 133, ../sass/screen.scss */
.table-of-contents a.active {
  background: #E8540D;
  border: none;
  padding: 0 32px;
}

/* line 140, ../sass/screen.scss */
.color-menu {
  background-color: #232323;
}
/* line 142, ../sass/screen.scss */
.color-menu li {
  color: #fff;
}
/* line 144, ../sass/screen.scss */
.color-menu li a {
  color: #E8540D;
}
/* line 146, ../sass/screen.scss */
.color-menu li a i {
  color: #fff !important;
}

/* line 153, ../sass/screen.scss */
#particles-home {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

/* line 160, ../sass/screen.scss */
#home {
  height: 100vh;
  position: relative;
}
/* line 163, ../sass/screen.scss */
#home #mostro-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
  z-index: 12;
}
/* line 170, ../sass/screen.scss */
#home #mostro-center #logo-mostro-media-center {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1025px) and (max-width: 1223px) {
  /* line 170, ../sass/screen.scss */
  #home #mostro-center #logo-mostro-media-center {
    width: 300px;
  }
}
@media screen and (min-width: 1224px) and (max-width: 1823px) {
  /* line 170, ../sass/screen.scss */
  #home #mostro-center #logo-mostro-media-center {
    width: 400px;
  }
}
/* line 183, ../sass/screen.scss */
#home #mostro-center h1 {
  font-size: 3em;
}
/* line 187, ../sass/screen.scss */
#home ul {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}
/* line 193, ../sass/screen.scss */
#home #iconos-home {
  position: relative;
  /* 1 */
  width: 40em;
  height: 40em;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  /* 2 */
  box-sizing: content-box;
  /* 3 */
  margin: 5em auto 0;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
/* line 56, ../sass/screen.scss */
#home #iconos-home > * {
  /* 4 */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5em;
  height: 5em;
  margin: -2.5em;
}
/* line 71, ../sass/screen.scss */
#home #iconos-home > :nth-of-type(1) {
  transform: rotate(0deg) translate(20em) rotate(0deg);
}
/* line 71, ../sass/screen.scss */
#home #iconos-home > :nth-of-type(2) {
  transform: rotate(72deg) translate(20em) rotate(-72deg);
}
/* line 71, ../sass/screen.scss */
#home #iconos-home > :nth-of-type(3) {
  transform: rotate(144deg) translate(20em) rotate(-144deg);
}
/* line 71, ../sass/screen.scss */
#home #iconos-home > :nth-of-type(4) {
  transform: rotate(216deg) translate(20em) rotate(-216deg);
}
/* line 71, ../sass/screen.scss */
#home #iconos-home > :nth-of-type(5) {
  transform: rotate(288deg) translate(20em) rotate(-288deg);
}
/* line 198, ../sass/screen.scss */
#home #iconos-home li {
  display: block;
  border-radius: 50%;
}
/* line 201, ../sass/screen.scss */
#home #iconos-home li img {
  margin-left: 15px;
}
/* line 204, ../sass/screen.scss */
#home #iconos-home li p {
  text-align: center;
  font-size: 1.5em;
}
/* line 211, ../sass/screen.scss */
#home button {
  font-size: 1.4em;
}

/* line 216, ../sass/screen.scss */
#work {
  background-color: #E8540D;
  margin-top: 200px;
}
/* line 219, ../sass/screen.scss */
#work .row {
  height: 100vh;
  /*ALTO DE CADA PRESENTACIÓN*/
}
/* line 222, ../sass/screen.scss */
#work #serv-section {
  margin-top: 200px;
}
/* line 224, ../sass/screen.scss */
#work #serv-section #individual-services {
  margin: 10% 0;
  text-align: center;
}
/* line 227, ../sass/screen.scss */
#work #serv-section #individual-services .item-servicio {
  display: inline-block;
  margin: 30px;
}
/* line 230, ../sass/screen.scss */
#work #serv-section #individual-services .item-servicio img {
  width: 150px;
  display: block;
}
/* line 234, ../sass/screen.scss */
#work #serv-section #individual-services .item-servicio h3 {
  margin-top: 10px;
  font-size: 25px;
}

/* line 243, ../sass/screen.scss */
.fullscreen-bg {
  position: relative;
  right: 0;
  left: 0;
  height: 800px;
  width: 100%;
}

/* line 251, ../sass/screen.scss */
.fullscreen-bg__video {
  position: absolute;
  width: 100%;
  height: 140%;
}

@media (min-aspect-ratio: 16 / 9) {
  /* line 258, ../sass/screen.scss */
  .fullscreen-bg__video, .fullscreen-bg__video2 {
    height: 200%;
    top: -35%;
  }
}
/* line 265, ../sass/screen.scss */
#team {
  margin-top: 500px;
  height: 100vh;
}
/* line 268, ../sass/screen.scss */
#team .carousel {
  height: 800px;
}
/* line 270, ../sass/screen.scss */
#team .carousel .carousel-item {
  height: 400px;
  width: 400px;
}
/* line 275, ../sass/screen.scss */
#team ul {
  height: 500px;
  margin-top: 230px;
}
/* line 278, ../sass/screen.scss */
#team ul li {
  display: inline-block;
}
/* line 280, ../sass/screen.scss */
#team ul li img {
  width: 300px;
}
/* line 283, ../sass/screen.scss */
#team ul li h3 {
  font-size: 3em;
}
/* line 286, ../sass/screen.scss */
#team ul li h4 {
  font-size: 1.5em;
}

/* line 293, ../sass/screen.scss */
#contact {
  height: 900px;
}
/* line 295, ../sass/screen.scss */
#contact #content-contact, #contact #form-contact {
  margin: 20px 0 0 5%;
  background-color: #333;
}
/* line 298, ../sass/screen.scss */
#contact #content-contact .valign-wrapper, #contact #form-contact .valign-wrapper {
  height: 400px;
}
/* line 300, ../sass/screen.scss */
#contact #content-contact .valign-wrapper .valign, #contact #form-contact .valign-wrapper .valign {
  text-align: center;
  width: 100%;
}
/* line 306, ../sass/screen.scss */
#contact form {
  margin-left: 10%;
  width: 80%;
}

/* line 312, ../sass/screen.scss */
.progress {
  background-color: #fff !important;
}

/* line 316, ../sass/screen.scss */
.toast {
  font-size: 1.8rem;
  font-weight: normal;
}

@media screen and (max-width: 1024px) {
  /* line 323, ../sass/screen.scss */
  body {
    overflow-x: hidden;
  }

  /* line 326, ../sass/screen.scss */
  h1 {
    font-size: 4em;
  }

  /* line 330, ../sass/screen.scss */
  nav .brand-logo {
    margin-top: 12px !important;
  }

  /* line 337, ../sass/screen.scss */
  .nav-wrapper ul li a {
    padding: 0 32px !important;
  }
}
@media screen and (min-width: 1824px) {
  /* line 347, ../sass/screen.scss */
  #home #iconos-home {
    position: relative;
    /* 1 */
    width: 50em;
    height: 50em;
    padding: 0;
    border-radius: 50%;
    list-style: none;
    /* 2 */
    box-sizing: content-box;
    /* 3 */
  }
  /* line 56, ../sass/screen.scss */
  #home #iconos-home > * {
    /* 4 */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5em;
    height: 5em;
    margin: -2.5em;
  }
  /* line 71, ../sass/screen.scss */
  #home #iconos-home > :nth-of-type(1) {
    transform: rotate(0deg) translate(25em) rotate(0deg);
  }
  /* line 71, ../sass/screen.scss */
  #home #iconos-home > :nth-of-type(2) {
    transform: rotate(72deg) translate(25em) rotate(-72deg);
  }
  /* line 71, ../sass/screen.scss */
  #home #iconos-home > :nth-of-type(3) {
    transform: rotate(144deg) translate(25em) rotate(-144deg);
  }
  /* line 71, ../sass/screen.scss */
  #home #iconos-home > :nth-of-type(4) {
    transform: rotate(216deg) translate(25em) rotate(-216deg);
  }
  /* line 71, ../sass/screen.scss */
  #home #iconos-home > :nth-of-type(5) {
    transform: rotate(288deg) translate(25em) rotate(-288deg);
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  /* line 366, ../sass/screen.scss */
  nav {
    position: fixed;
    top: 0;
    z-index: 100;
  }

  /* line 371, ../sass/screen.scss */
  .fullscreen-bg__video {
    width: auto !important;
    height: 700px;
    margin-left: -350px;
  }

  /* line 376, ../sass/screen.scss */
  #work {
    height: 1300px;
  }
}
@media screen and (min-width: 401px) and (max-width: 800px) {
  /* line 382, ../sass/screen.scss */
  nav {
    position: fixed;
    top: 0;
    z-index: 100;
  }

  /* line 387, ../sass/screen.scss */
  #main {
    overflow-y: hidden;
  }

  /* line 391, ../sass/screen.scss */
  #home #logo-mostro-media-center {
    width: 100% !important;
  }

  /* line 395, ../sass/screen.scss */
  .fullscreen-bg__video {
    width: auto !important;
    height: 700px;
    margin-left: -350px;
  }

  /* line 400, ../sass/screen.scss */
  #work {
    height: 1300px;
  }
  /* line 402, ../sass/screen.scss */
  #work .row {
    height: auto;
  }

  /* line 406, ../sass/screen.scss */
  #team {
    margin-top: 100px;
  }
}
@media screen and (max-width: 400px) {
  /* line 412, ../sass/screen.scss */
  nav {
    position: fixed;
    top: 0;
    z-index: 100;
  }

  /* line 417, ../sass/screen.scss */
  #main {
    overflow-y: hidden;
  }

  /* line 421, ../sass/screen.scss */
  #home #logo-mostro-media-center {
    width: 100% !important;
  }

  /* line 425, ../sass/screen.scss */
  #work {
    height: 1300px;
  }

  /* line 428, ../sass/screen.scss */
  .fullscreen-bg {
    margin: 200px 0;
    overflow-x: hidden;
    height: 500px;
  }
  /* line 433, ../sass/screen.scss */
  .fullscreen-bg .fullscreen-bg__video {
    width: auto !important;
    margin-left: -300px;
    height: 500px;
  }

  /* line 439, ../sass/screen.scss */
  #team {
    height: auto;
    margin: 200px 0;
  }
  /* line 442, ../sass/screen.scss */
  #team .carousel {
    position: relative;
  }
  /* line 444, ../sass/screen.scss */
  #team .carousel .carousel-item {
    width: 100%;
    height: auto;
  }
}
