$main-space: 100px; /* this is the width of the menu*/
$background-color: #363636;
$mostro-color: #E8540D;
$mostro-menu: #232323;
$text-color: #fff;

/*Responsive values*/
$break-small: 768px;


@mixin distribute-on-circle(
	$nb-items,
	$circle-size,
	$item-size,
	$class-for-IE: false
) {
	$half-item: ($item-size / 2);
	$half-parent: ($circle-size / 2);

	position: relative; /* 1 */
	width:  $circle-size;
	height: $circle-size;
	padding: 0;
	border-radius: 50%;
	list-style: none; /* 2 */
	box-sizing: content-box; /* 3 */

	> * { /* 4 */
		display: block;
		position: absolute;
		top:  50%;
		left: 50%;
		width:  $item-size;
		height: $item-size;
		margin: -$half-item;
	}

	$angle: (360 / $nb-items);
	$rot: 0;

	@for $i from 1 through $nb-items {
		@if not $class-for-IE {
			> :nth-of-type(#{$i}) {
				transform: rotate($rot * 1deg) translate($half-parent) rotate($rot * -1deg);
			}
		} @else {
			> .#{$class-for-IE}#{$i} {
				// If CSS transforms are not supported
				$mt: sin($rot * pi() / 180) * $half-parent - $half-item;
				$ml: cos($rot * pi() / 180) * $half-parent - $half-item;
				margin: $mt 0 0 $ml;
			}
		}

		$rot: ($rot + $angle);
	}
}


/*--------------------Desktop--------------*/

body{
	// padding-left: $main-space;
	background-color: $background-color;
	color: $text-color !important;
	@media screen and (max-width: $break-small) {
		padding-left: 0px;
  	}
}
nav{
	background-color: $mostro-color;
}
.side-nav{
	width: 100px !important;
}
.color-menu{
	background-color: $mostro-menu;
	li{
		color: $text-color;
	}
	a{
		color: $mostro-color;
	}
	i{
		color: $text-color !important;
	}
}

#particles-home{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
}


#home {
	img.center{
		width: 500px;
		display: block;
    margin: 20vh 400px;
		position: absolute;
		z-index: 10;
	}
	h1{
		position: absolute;
		z-index: 10;
		left: 0;
		right: 0;
		top: 70vh;
	}
	ul{
		position: relative;
		z-index: 10;
	}

	#iconos-home {

	  @include distribute-on-circle(5, 50em, 8em, false);
	  margin: 5em auto 0;

		li{
			display: block;
		  width: 100%;
		  border-radius: 50%;
		}
	}

}
#servicios{
	h1{
		text-align: center;
	}
}
