/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


$main-space: 100px; /* this is the width of the menu*/
$background-color: #363636;
$mostro-color: #E8540D;
$mostro-menu: #232323;
$text-color: #fff;

/*Responsive values*/
$break-small: 768px;


@font-face{
  font-family: 'steelfish';
  src: url('../fonts/steelfish/steelfishRG.ttf') format('truetype'),
  url('../fonts/steelfish/steelfishRG.woff') format('woff'),
  url('../fonts/steelfish/steelfishRG.otf'),
  url('../fonts/steelfish/steelfishRG.eot?#iefix') format('embedded-opentype'),
  url('../fonts/steelfish/steelfishRG.svg') format('svg');
}


.transicion{
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

@mixin escala($longitud){
  -moz-transform: scale($longitud);
  -webkit-transform: scale($longitud);
  -o-transform: scale($longitud);
  -ms-transform: scale($longitud);
  transform: scale($longitud);
}


@mixin distribute-on-circle(
	$nb-items,
	$circle-size,
	$item-size,
	$class-for-IE: false
) {
	$half-item: ($item-size / 2);
	$half-parent: ($circle-size / 2);

	position: relative; /* 1 */
	width:  $circle-size;
	height: $circle-size;
	padding: 0;
	border-radius: 50%;
	list-style: none; /* 2 */
	box-sizing: content-box; /* 3 */

	> * { /* 4 */
		display: block;
		position: absolute;
		top:  50%;
		left: 50%;
		width:  $item-size;
		height: $item-size;
		margin: -$half-item;
	}

	$angle: (360 / $nb-items);
	$rot: 0;

	@for $i from 1 through $nb-items {
		@if not $class-for-IE {
			> :nth-of-type(#{$i}) {
				transform: rotate($rot * 1deg) translate($half-parent) rotate($rot * -1deg);
			}
		} @else {
			> .#{$class-for-IE}#{$i} {
				$mt: sin($rot * pi() / 180) * $half-parent - $half-item;
				$ml: cos($rot * pi() / 180) * $half-parent - $half-item;
				margin: $mt 0 0 $ml;
			}
		}
		$rot: ($rot + $angle);
	}
}


/*--------------------Desktop--------------*/

body{
	// padding-left: $main-space;
	font-family: 'steelfish';
	background-color: $background-color;
	color: $text-color !important;

	@media screen and (max-width: $break-small) {
		padding-left: 0px;
  	}
}


nav{
	background-color: $mostro-color;
}

.side-nav{
	width: 100px !important;
  #logo-mostro-media{
    margin-top: 50px;
  }
	h1{
		font-size: 1.8em;
	}
	li{
    margin-top: 50px;
		a{
			i{
				font-size: 40px;
			}
		}
	}
}

.color-menu{
	background-color: $mostro-menu;
	li{
		color: $text-color;
	}
	a{
		color: $mostro-color;
	}
	i{
		color: $text-color !important;
	}
}

#particles-home{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
}


#home {
  height: 100vh;
	#logo-mostro-media-center{
		width: 300px;
		display: block;
    margin: 20vh 400px;
		position: absolute;
		z-index: 100;
    @extend .transicion;
	}
	h1{
		position: absolute;
		z-index: 10;
		left: 0;
		right: 0;
		top: 60vh;
    font-size: 3em;
	}
	ul{
		position: relative;
		z-index: 10;
	}
	#iconos-home {
    @extend .transicion;
	  @include distribute-on-circle(5, 40em, 5em, false);
	  margin: 5em auto 0;
    @include escala(0);
		li{
			display: block;
		  border-radius: 50%;
			img{
				margin-left: 15px;
			}
			p{
				text-align: center;
				font-size: 1.5em;
			}
		}
	}

	button{
		font-size: 1.4em;
	}

}
#work {
  background-color: rgba(255,255,255,0.1);
	margin-top: 200px;
	.row{
		height: 100vh;  /*ALTO DE CADA PRESENTACIÓN*/
	}
  #serv-section{
    margin-top: 200px;
  }
	img.center{  /*LOGO*/
		width: 330px;
		display: block;
    	margin: 0 auto;
	}
	.item-servicio img{
		width: 150px;
		display: block;
    	margin: 0 auto;
	}
	h1{
		font-size: 45px;
	}
	h3{
		font-size: 25px;
	}
}

.fullscreen-bg{
  position: relative;
  right: 0;
  left: 0;
  height: 800px;
  width: 100%;
}

.fullscreen-bg__video{
  position: absolute;
  width: 100%;
  height: 140%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video , .fullscreen-bg__video2{
    height: 300%;
    top: -91%;
  }
}


#team{
  margin-top: 500px;
  height: 100vh;
  .carousel{
    height: 800px;
    .carousel-item{
      height: 400px;
      width: 400px;
    }
  }
  ul{
    li{
    }
  }
}

#contact{
  height: 700px;
  #content-contact, #form-contact{
    margin: 20px 0 0 5%;
    background-color: #333;
    .valign-wrapper{
      height: 400px;
      .valign{
        text-align: center;
        width: 100%;
      }
    }
  }
  form{
    margin-left: 10%;
    width: 80%;
  }
}

.progress{
  background-color: #fff !important;
}

.toast{
  font-size: 1.8rem;
  font-weight: normal;
}

@media screen and (min-width: 1824px){
  #home{
    #logo-mostro-media-center{
      width: 600px;
    }
    h1{
      left: 90px;
      top: 50vh;
    }
    #iconos-home{
      @include distribute-on-circle(5, 50em, 5em, false);
    }
  }
}

@media screen and (min-width: 1524px) and (max-width: 1823px){
  #home{
    #logo-mostro-media-center{
      margin: 25vh 500px;
    }
  }
}

@media screen and (min-width: 1225px) and (max-width: 1523px){
  #home{
    #logo-mostro-media-center{
      margin: 25vh 350px;
    }
  }
}

@media screen and (min-width: 1025px) and (max-width: 1224px){
  #home{
    #logo-mostro-media-center{
      margin: 25vh 300px;
    }
    h1{
      left: 150px;
      top: 45vh;
    }
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px){
  nav{
    position: fixed;
    top: 0;
    z-index: 100;
  }
  #home{
    #logo-mostro-media-center{
      margin: 25vh 250px;
    }
    h1{
      top: 45vh;
    }
  }
  .fullscreen-bg__video{
    width: auto !important;
    height: 700px;
    margin-left: -350px;
  }
  #work{
    height: 1300px;
  }
}

@media screen and (min-width: 401px) and (max-width: 800px){
  nav{
    position: fixed;
    top: 0;
    z-index: 100;
  }
  #main{
    overflow-y: hidden;
  }
  #home{
    #logo-mostro-media-center{
      margin: 250px 0 0 0;
      position: relative;
      width: 100%;
    }
  }
  .fullscreen-bg__video{
    width: auto !important;
    height: 700px;
    margin-left: -350px;
  }
  #work{
    height: 1300px;
    .row{
      height: auto;
    }
  }
  #team{
    margin-top: 100px;
  }
}

@media screen and (max-width: 400px){
  nav{
    position: fixed;
    top: 0;
    z-index: 100;
  }
  #main{
    overflow-y: hidden;
  }
  #home {
    height: auto;
  	#logo-mostro-media-center{
      margin: 250px 0 0 0;
      position: relative;
      width: 100%;
  	}
    h1{
      position: inherit;
      top: 0;
    }
  }
  #work{
    height: 1300px;
  }
  .fullscreen-bg{
    margin: 200px 0;
    overflow-x: hidden;
    height: 500px;

    .fullscreen-bg__video{
      width: auto !important;
      margin-left: -300px;
      height: 500px;
    }
  }
  #team{
    height: auto;
    margin: 200px 0;
    .carousel{
      position: relative;
      .carousel-item{
        width: 100%;
        height: auto;
      }
    }
  }
}
