@import "compass/reset";
@import "compass/css3";

$main-space: 100px; /* this is the width of the menu*/
$background-color: #363636;
$mostro-color: #E8540D;
$mostro-menu: #232323;
$text-color: #fff;

/*Responsive values*/
$break-small: 768px;
$item-txt-work: #5a5a5f;
$item-img-work: #2c3434;

@font-face{
  font-family: 'steelfish';
  src: url('../fonts/steelfish/steelfishRG.ttf') format('truetype'),
  url('../fonts/steelfish/steelfishRG.woff') format('woff'),
  url('../fonts/steelfish/steelfishRG.otf'),
  url('../fonts/steelfish/steelfishRG.eot?#iefix') format('embedded-opentype'),
  url('../fonts/steelfish/steelfishRG.svg') format('svg');
}


.transicion{
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

@mixin escala($longitud){
  -moz-transform: scale($longitud);
  -webkit-transform: scale($longitud);
  -o-transform: scale($longitud);
  -ms-transform: scale($longitud);
  transform: scale($longitud);
}

@mixin distribute-on-circle(
	$nb-items,
	$circle-size,
	$item-size,
	$class-for-IE: false
) {
	$half-item: ($item-size / 2);
	$half-parent: ($circle-size / 2);

	position: relative; /* 1 */
	width:  $circle-size;
	height: $circle-size;
	padding: 0;
	border-radius: 50%;
	list-style: none; /* 2 */
	box-sizing: content-box; /* 3 */

	> * { /* 4 */
		display: block;
		position: absolute;
		top:  50%;
		left: 50%;
		width:  $item-size;
		height: $item-size;
		margin: -$half-item;
	}

	$angle: (360 / $nb-items);
	$rot: 0;

	@for $i from 1 through $nb-items {
		@if not $class-for-IE {
			> :nth-of-type(#{$i}) {
				transform: rotate($rot * 1deg) translate($half-parent) rotate($rot * -1deg);
			}
		} @else {
			> .#{$class-for-IE}#{$i} {
				$mt: sin($rot * pi() / 180) * $half-parent - $half-item;
				$ml: cos($rot * pi() / 180) * $half-parent - $half-item;
				margin: $mt 0 0 $ml;
			}
		}
		$rot: ($rot + $angle);
	}
}




/*--------------------Desktop--------------*/

body{
	font-family: 'steelfish';
	background-color: $background-color;
	color: $text-color !important;
  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox

	@media screen and (max-width: $break-small) {
		padding-left: 0px;
  	}

}

::-webkit-scrollbar {
    display: none;
}

h1{
  font-size: 6em;
}

nav{
	background-color: $mostro-color;
}

.side-nav{
	width: 100px !important;
  #logo-mostro-media{
    margin-top: 50px;
  }
  .logo-text{
    cursor: pointer;
    h1{
  		font-size: 1.8em;
  	}
  }
	li{
    margin-top: 50px;
		a{
			i{
				font-size: 40px;
			}
		}
	}

}
.table-of-contents{
  a{
    @extend .transicion;
    &.active{
      background: $mostro-color;
      border: none;
      padding: 0 32px;
    }
  }
}
.color-menu{
	background-color: $mostro-menu;
	li{
		color: $text-color;
    a{
  		color: $mostro-color;
      i{
        color: $text-color !important;
      }
  	}
	}
}

.modal-overlay{
  opacity: 0.7 !important;
}
#your-name{
  height: 100vh;
  form{
    width: 100%;

    label{
      margin-top: -20px;
      font-size: 3em;
    }
    h2,input{
      font-size: 2em;
    }
  }
}

#particles-home{
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
}

#home {
  height: 100vh;
  position: relative;
  #mostro-center{
    position: absolute;
    left: 0;
    right: 0;
    top: 20vh;
    z-index: 12;

    #logo-mostro-media-center{
  		width: 600px;
      @media screen and (min-width: 1025px) and (max-width: 1223px){
        width: 300px;
      }
      @media screen and (min-width: 1224px) and (max-width: 1823px){
        width: 400px;
      }
      display: block;
      margin-left: auto;
      margin-right: auto;
      @extend .transicion;
  	}
  	h1{
      font-size: 3em;
  	}
  }
	ul{
		position: absolute;
    left: 0;
    right: 0;
		z-index: 10;
	}
	#iconos-home {
    @extend .transicion;
	  @include distribute-on-circle(5, 40em, 5em, false);
	  margin: 5em auto 0;
    @include escala(0);
		li{
			display: block;
		  border-radius: 50%;
			img{
				margin-left: 15px;
			}
			p{
				text-align: center;
				font-size: 1.5em;
			}
		}
	}

	button{
		font-size: 1.4em;
	}

}

#work {
  background-color: $background-color;
	margin-top: 200px;
	.row{
		height: 100vh;  /*ALTO DE CADA PRESENTACIÓN*/
	}
  #serv-section{
    margin-top: 200px;
    #individual-services{
      margin: 10% 0;
      text-align: center;
      .item-servicio{
        cursor: pointer;
        display: inline-block;
        margin: 30px;
        box-shadow: 0 0 0 0 rgba(#fff, .5);
        -webkit-animation: pulse 1.5s infinite;
        .img-item{
          background: $item-img-work;
          padding: 30px;
          img{
            width: 150px;
          }
        }
        .txt-item{
          background: $item-txt-work;
          padding: 20px;
          h3{
            font-size: 25px;
          }
        }
        &:hover{
          padding: 0px;
        }
    	}
    }
  }
  #trigger-work-msj{
    position: relative;
    display: block;
    margin-left: 97%;
  }
}
.modal{
  max-height: 90%;
  background-color: rgba(0,0,0,0) !important;
  h2{
    font-size: 2em;
    margin-top: 30px;
  }
  a{
    font-size: 1.5em;
  }
  img{
    display: block;
    width: 50%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .modal-footer{
    background-color: rgba(0,0,0,0) !important;
  }
}

@-webkit-keyframes pulse {
  70% {
    box-shadow: 0 0 0 10px rgba(#fff, 0);
  }
    100% {

    box-shadow: 0 0 0 0 rgba(#fff, 0);
  }
}

.fullscreen-bg{
  position: relative;
  height: 800px;
  width: 100%;
}

.fullscreen-bg__video{
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 140%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video , .fullscreen-bg__video2{
    height: 200%;
    top: -35%;
  }
}


#team{
  margin-top: 500px;
  height: 100vh;
  .carousel{
    height: 800px;
    .carousel-item{
      height: 400px;
      width: 400px;
    }
  }
  ul{
    height: 500px;
    margin-top: 230px;
    li{
      @extend .transicion;
      display: inline-block;
      img{
        width: 50px;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      h3,h4,hr{
        display: none;
      }


    }
    .slick-current{
      cursor: pointer;
      img{
        width: 200px;
      }
      h3,h4,hr{
        display: block;
      }
      h3{
        font-size: 3em;
      }
      h4{
        font-size: 1.5em;
      }
      hr{
        width: 40%;
        border-width: 3px;
      }
    }
    .slick-slide{
      float: none;
    }
  }
}

#contact{
  height: 700px;
  #content-contact, #form-contact{
    margin: 20px 0 0 5%;
    background-color: #333;
    .valign-wrapper{
      height: 400px;
      .valign{
        text-align: center;
        width: 100%;
      }
    }
  }
  form{
    margin-left: 10%;
    width: 80%;
  }
  h2{
    font-size: 2em;
  }
}

.progress{
  background-color: #fff !important;
}

.toast{
  font-size: 1.8rem;
  font-weight: normal;
}


@media screen and (max-width: 1024px){
  body{
    overflow-x: hidden;
  }
  h1{
    font-size: 4em;
  }
  nav{
    .brand-logo{
      margin-top: 12px !important;
    }
  }
  .nav-wrapper{
    ul{
      li{
        a{
          padding: 0 32px !important;
        }
      }
    }
  }
}

@media screen and (min-width: 1824px){
  #home{
    #iconos-home{
      @include distribute-on-circle(5, 50em, 5em, false);
    }
  }
}

@media screen and (min-width: 1524px) and (max-width: 1823px){
  #home{
    #mostro-center{
      top: 30vh;
    }
    #iconos-home{
      @include distribute-on-circle(5, 35em, 5em, false);
    }
  }
  #work{
    margin: 0;
    li{
      margin: 10px !important;
    }
  }
  #video{

  }
}

@media screen and (min-width: 1225px) and (max-width: 1523px){

}

@media screen and (min-width: 1025px) and (max-width: 1224px){

}

@media screen and (min-width: 801px) and (max-width: 1024px){
  nav{
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .fullscreen-bg__video{
    width: auto !important;
    height: 700px;
    margin-left: -350px;
  }
  #work{
    height: 1300px;
  }
}

@media screen and (min-width: 401px) and (max-width: 800px){
  nav{
    position: fixed;
    top: 0;
    z-index: 100;
  }
  #main{
    overflow-y: hidden;
  }
  #home{
    #logo-mostro-media-center{
      width: 100% !important;
    }
  }
  .fullscreen-bg__video{
    width: auto !important;
    height: 700px;
    margin-left: -350px;
  }
  #work{
    height: 1300px;
    .row{
      height: auto;
    }
  }
  #team{
    margin-top: 100px;
  }
}

@media screen and (max-width: 400px){
  nav{
    position: fixed;
    top: 0;
    z-index: 100;
  }
  #main{
    overflow-y: hidden;
  }
  #home {
  	#logo-mostro-media-center{
      width: 100% !important;
  	}
  }
  #work{
    height: 1300px;
  }
  .fullscreen-bg{
    margin: 200px 0;
    overflow-x: hidden;
    height: 500px;

    .fullscreen-bg__video{
      width: auto !important;
      margin-left: -300px;
      height: 500px;
    }
  }
  #team{
    height: auto;
    margin: 200px 0;
    .carousel{
      position: relative;
      .carousel-item{
        width: 100%;
        height: auto;
      }
    }
  }
}
