.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* this is the width of the menu*/
/*Responsive values*/
@font-face {
  font-family: 'steelfish';
  src: url("./fonts/steelfish/steelfishRG.ttf") format("truetype"), url("./fonts/steelfish/steelfishRG.woff") format("woff"), url("./fonts/steelfish/steelfishRG.otf"), url("./fonts/steelfish/steelfishRG.eot?#iefix") format("embedded-opentype"), url("./fonts/steelfish/steelfishRG.svg") format("svg"); }

.transicion, .table-of-contents a, #home #logo-mostro-media-center, #home #iconos-home, #team .wrap > li, footer .social li {
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }

/*--------------------Desktop--------------*/
body {
  font-family: 'steelfish';
  background-color: #363636;
  color: #fff !important; }
  @media screen and (max-width: 768px) {
    body {
      padding-left: 0px; } }

::-webkit-scrollbar {
  display: none; }

h1 {
  font-size: 6em; }

nav {
  background-color: #E8540D; }

.snow {
  position: absolute;
  height: 100%;
  width: 100%; }

.side-nav {
  width: 100px !important; }
  .side-nav #logo-mostro-media {
    margin-top: 50px; }
  .side-nav .logo-text {
    cursor: pointer; }
    .side-nav .logo-text h1 {
      font-size: 1.8em; }
  .side-nav li {
    margin-top: 50px; }
    .side-nav li a i {
      font-size: 40px; }

.table-of-contents a.active {
  background: #E8540D;
  border: none;
  padding: 0 32px; }

.color-menu {
  background-color: #232323; }
  .color-menu li {
    color: #fff; }
    .color-menu li a {
      color: #E8540D; }
      .color-menu li a i {
        color: #fff !important; }

.modal-overlay {
  opacity: 0.7 !important; }

#your-name {
  height: 100vh; }
  #your-name form {
    width: 100%; }
    #your-name form label {
      margin-top: -20px;
      font-size: 3em; }
    #your-name form h2, #your-name form input {
      font-size: 2em; }

#particles-home {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%; }

#home {
  height: 100vh;
  position: relative; }
  #home #christmas-hat {
    position: absolute;
    right: 470px;
    top: 90px;
    width: 200px; }
    @media screen and (min-width: 1524px) and (max-width: 1824px) {
      #home #christmas-hat {
        right: 370px; } }
    @media screen and (min-width: 1324px) and (max-width: 1523px) {
      #home #christmas-hat {
        right: 330px; } }
    @media screen and (min-width: 1224px) and (max-width: 1323px) {
      #home #christmas-hat {
        right: 280px; } }
    @media screen and (min-width: 1024px) and (max-width: 1223px) {
      #home #christmas-hat {
        right: 190px; } }
    @media screen and (min-width: 941px) and (max-width: 1023px) {
      #home #christmas-hat {
        right: 230px; } }
    @media screen and (min-width: 769px) and (max-width: 940px) {
      #home #christmas-hat {
        right: 190px; } }
    @media screen and (min-width: 606px) and (max-width: 768px) {
      #home #christmas-hat {
        right: 140px; } }
    @media screen and (min-width: 480px) and (max-width: 650px) {
      #home #christmas-hat {
        right: 100px; } }
    @media screen and (min-width: 400px) and (max-width: 479px) {
      #home #christmas-hat {
        right: 0px; } }
    @media screen and (min-width: 251px) and (max-width: 400px) {
      #home #christmas-hat {
        right: -20px; } }
    @media screen and (max-width: 250px) {
      #home #christmas-hat {
        right: -70px;
        top: 50px; } }
  #home #logo-mostro-media-center {
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top: 100px;
    width: 300px; }
  #home h1 {
    font-size: 3em;
    display: block; }
  #home #iconos-home {
    width: 100%;
    margin-top: 50px; }
    #home #iconos-home .fifth {
      width: 20%;
      float: left; }
    #home #iconos-home li {
      display: inline-block; }
      #home #iconos-home li div {
        width: 100px;
        margin-left: auto;
        margin-right: auto; }
      #home #iconos-home li p {
        text-align: center;
        font-size: 1.5em; }
  #home button {
    font-size: 1.4em; }

#work {
  background-color: rgba(54, 54, 54, 0.9);
  margin-top: 200px; }
  #work .row {
    height: 70vh; }
  #work #serv-section {
    margin-top: 200px; }
  #work #individual-services li {
    display: inline-block; }
  #work .card {
    border-right: 1px solid #424242; }
    @media screen and (max-width: 768px) {
      #work .card {
        height: auto; } }
    #work .card .card-content {
      padding: 20px 2px; }
      #work .card .card-content .card-title {
        font-size: 3em !important; }
    #work .card .card-image img {
      padding: 30px;
      width: 50%;
      margin-left: auto;
      margin-right: auto; }
    #work .card .card-reveal {
      height: 220px; }
      #work .card .card-reveal h3 {
        font-size: 2em;
        text-align: justify; }
  #work #trigger-work-msj {
    position: relative;
    display: block;
    margin-left: 97%; }

.fullscreen-bg {
  position: relative;
  height: 800px;
  width: 100%; }

.fullscreen-bg__video {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 140%; }

@media (min-aspect-ratio: 16 / 9) {
  .fullscreen-bg__video, .fullscreen-bg__video2 {
    height: 200%;
    top: -35%; } }

#team {
  height: 70vh; }
  #team .wrap {
    display: flex; }
  #team .wrap > li {
    z-index: 100;
    width: 33%;
    flex: 1; }
    #team .wrap > li img {
      width: 100%;
      height: 500px; }
    #team .wrap > li h4 {
      font-size: 1.2em; }
    #team .wrap > li p {
      font-size: 1.2em;
      letter-spacing: 1px; }
  #team .wrap > li:hover {
    flex: 2; }

#contact {
  height: 700px; }
  #contact #content-contact, #contact #form-contact {
    margin: 20px 0 0 5%;
    background-color: #333; }
    #contact #content-contact .valign-wrapper, #contact #form-contact .valign-wrapper {
      height: 400px; }
      #contact #content-contact .valign-wrapper .valign, #contact #form-contact .valign-wrapper .valign {
        text-align: center;
        width: 100%; }
  #contact form {
    margin-left: 10%;
    width: 80%; }
    #contact form input, #contact form label {
      letter-spacing: 1px; }
  #contact h2 {
    font-size: 2em; }

footer .social {
  position: relative;
  height: 3em;
  width: 13.5em;
  display: block;
  margin: 60px auto; }
  footer .social li {
    display: block;
    height: 4em;
    line-height: 4em;
    margin: -2.2em;
    position: absolute;
    text-align: center;
    width: 4em;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
    footer .social li:hover {
      -moz-transform: rotate(405deg);
      -ms-transform: rotate(405deg);
      -webkit-transform: rotate(405deg);
      transform: rotate(405deg); }
  footer .social a {
    color: #fffdf0;
    display: block;
    height: 4em;
    line-height: 4em;
    text-align: center;
    width: 4em;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

footer .facebook,
footer .instagram,
footer .github,
footer .behance,
footer .linked-in {
  background: #363636; }

footer .facebook {
  left: 0;
  top: 0%; }
  footer .facebook:hover {
    background: #155b9d; }

footer .instagram {
  left: 50%;
  top: 0%; }
  footer .instagram:hover {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); }

footer .github {
  bottom: 0;
  left: 25%; }
  footer .github:hover {
    background: #141414; }

footer .behance {
  bottom: 0;
  left: 75%; }
  footer .behance:hover {
    background: #3f7aa3; }

footer .linked-in {
  left: 100%;
  top: 0%; }
  footer .linked-in:hover {
    background: #157f9d; }

footer p {
  letter-spacing: 1px;
  font-weight: normal; }

.progress {
  background-color: #fff !important; }

.toast {
  font-size: 1.8rem;
  font-weight: normal; }

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden; }
  h1 {
    font-size: 4em; }
  .nav-wrapper ul li a {
    padding: 0 32px !important; }
  #work .card {
    margin-top: 10px !important; }
  #team {
    height: 70vh; }
    #team .wrap {
      display: block; }
      #team .wrap > li {
        width: 100% !important; } }

@media screen and (min-width: 1524px) and (max-width: 1823px) {
  #home #mostro-center {
    top: 30vh; } }

@media screen and (min-width: 801px) and (max-width: 1024px) {
  nav {
    position: fixed;
    top: 0;
    z-index: 100; }
  .fullscreen-bg__video {
    width: auto !important;
    height: 700px;
    margin-left: -350px; }
  #contact {
    height: auto !important; }
    #contact #content-contact, #contact #form-contact {
      margin: 0 !important; } }

@media screen and (min-width: 401px) and (max-width: 800px) {
  body {
    overflow-x: hidden; }
  nav {
    position: fixed;
    top: 0;
    z-index: 100; }
  #main {
    overflow-y: hidden; }
  #home canvas {
    width: 100% !important; }
  .fullscreen-bg__video {
    width: auto !important;
    height: 700px;
    margin-left: -350px; }
  #work .card .card-reveal {
    height: 190px; }
  #work .row {
    height: auto; }
  #team {
    margin-top: 100px; }
    #team ul .slick-current img {
      margin-top: 60px;
      width: 100%; }
    #team .card-panel {
      width: 200px;
      margin: 30px -45px; }
  #content-contact, #form-contact {
    margin: 0 !important; }
  #contact {
    height: auto !important; }
    #contact #title_style_h1 {
      font-size: 2.5em; } }

@media screen and (max-width: 400px) {
  body {
    overflow-x: hidden; }
  nav {
    position: fixed;
    top: 0;
    z-index: 100; }
  #main {
    overflow-y: hidden; }
  #home #logo-mostro-media-center, #home canvas {
    width: 100% !important; }
  #work .card .card-reveal {
    height: 190px; }
  .fullscreen-bg {
    margin: 200px 0;
    overflow-x: hidden;
    height: 500px; }
    .fullscreen-bg .fullscreen-bg__video {
      width: auto !important;
      margin-left: -300px;
      height: 500px; }
  #team {
    height: auto;
    margin: 300px 0; }
    #team .carousel {
      position: relative; }
      #team .carousel .carousel-item {
        width: 100%;
        height: auto; }
  footer {
    margin-top: 400px !important; }
  #content-contact, #form-contact {
    margin: 0 !important; }
  #contact #title_style_h1 {
    font-size: 2.5em; } }
